.detail-contract-manager-box {
  display: flex;

  .contract-manager-left-box {
    width: 60%;
    padding: 10px;

    .button {
      min-width: 300px;
    }
  }

  .contract-manager-right-box {
    width: 40%;
    padding: 10px;
  }
}