.detail-copyright-box {
  padding: 10px;

  .copyright-upload-button-box {
    padding: 10px;
  }

  .copyright-button-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;

    .fail-button {
      background: #f5222d;
      border: 1px solid #f5222d;
    }

    .success-button {
      background: #52c41a;
      border: 1px solid #52c41a;
    }
  }

  .copyright-textArea-box {
    margin: 0 10px;
    width: 50%;
  }
}