.field-test-profile-box {
  .inner-timeline-box {
    width: 100%;
    display: flex;
    border: 1px solid #ddd;
    padding: 10px 10px 0 10px;

    .left-timeline-box {
      width: 50%;

      .timeline-top-box {
        margin-bottom: 10px;
        padding-left: 5px;
        border-left: 5px solid #1890ff;
      }
    }

    .right-timeline-box {
      width: 50%;

      .timeline-top-box {
        margin-bottom: 10px;
        padding-left: 5px;
        border-left: 5px solid #1890ff;
      }
    }
  }

}