.item-box {
  padding: 10px ;
  box-shadow: 0 0 5px #ddd;

  .title-box {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(51, 68, 84);
    border-bottom: 1px solid #ddd;
    color: #fff;
  }
}