.detail-description-box {
  padding: 10px;

  .description-upload-button-box {
    padding: 10px;
  }

  .description-button-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;

    .fail-button {
      background: #f5222d;
      border: 1px solid #f5222d;
    }

    .success-button {
      background: #52c41a;
      border: 1px solid #52c41a;
    }
  }

  .description-textArea-box {
    margin: 0 10px;
    width: 50%;
  }
}