.registration-profile-box {
  display: flex;

  .profile-left-box {
    margin: 20px;
    width: 68%;

    .left-item-box {
      display: flex;
      border-style: solid;
      border-width: 1px;
      padding: 10px;

      .item-icon-box {
        font-size: 75px;
        width: 30%;
      }

      .item-text-box {
        display: flex;
        flex-direction: column;
        width: 70%;

        .text-top-box {
          display: flex;
          justify-content: center;
          font-size: 16px;
          font-weight: 600;
        }

        .text-row-box {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
        }
      }
    }
  }

  .profile-right-box {
    margin: 20px;
    width: 32%;

    .manager-info-bottom-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;

      .manager-info-head-box {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 0 5px #ddd;
        overflow: hidden;
      }

      .manager-into-item-box {
        width: 80%;
        display: flex;
        padding: 6px 0;
        justify-content: space-between;

        .manager-info-icon {
          margin-right: 2px;
          font-size: 18px;
        }
      }
    }
  }
}