.detail-report-download-box {
  display: flex;

  .report-download-left-box {
    width: 60%;
    padding: 20px;

    .button {
      min-width: 300px;
    }

    .half-button {
      min-width: 150px;
    }
  }

  .report-download-right-box {
    width: 40%;
    padding: 10px;
  }
}