.enterprise-write {
  width: 48%;

  .button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -5px;

    .button {
      width: 40%;
      margin-bottom: 5px;
    }
  }
}