.home-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;

  .logo {
    height: 42px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 0;
    color: #fff;
    line-height: calc((40 / 20));
    font-size: 20px;
    text-align: center;

    span {
      margin-left: 10px;
    }
  }
}

.home-content {
  margin-left: 200px;

  .home-header {
    background: #fff;
  }

  .content-box {
    margin: 24px 16px 0;
    overflow: initial;

    .content-inner-box {
      padding: 24px;
      background: #fff;
    }
  }

  .home-footer {
    text-align: center;
  }
}

.home-index-box {
  display: flex;
  justify-content: center;

  .home-index-img {
    height: 70vh;
  }
}
