.manager-show-box {
    width: 100%;

    .table {
        .icon-box {
            display: flex;
            justify-content: flex-start;
            align-content: center;

            .icon {
                margin-right: 10px;
                font-size: 16 px;
            }
        }
    }
}