.generate-test-record-box {
  .generate-record-upload-box {
    display: flex;

    .record-left-box {
      width: 45%;
      padding: 20px;

      .button {
        min-width: 300px;
      }

      .input {
        width: 300px;
      }

      .half-button {
        min-width: 150px;
        margin-bottom: 20px;
      }
    }

    .record-right-box {
      width: 55%;
      padding: 10px;
    }
  }
}