.registion-test-list-box {
  .test-status-box {
    .success-icon {
      padding-left: 10px;
    }

    .fail-icon {
      padding-left: 10px;
    }

    .wait-icon {
      padding-left: 10px;
    }
  }
}