.registration-test-profile-box {
  .registration-test-profile-timeline-box {
    padding: 20px;

    .timeline-item-box {
      display: flex;
      border: 1px solid #ddd;
      padding: 10px;

      .item-icon-box {
        font-size: 50px;
        margin-right: 5px;
      }

      .item-text-box {
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px);
        text-align: left;

        .text-top-box {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 7px;
        }

        .text-subtitle {
          font-size: 12px;
          color: #9b9ead;
        }
      }
    }
  }
}