.test-specimen-box {
  padding: 10px;

  .specimen-description-box {
    padding: 10px;
  }

  .specimen-button-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;

    .fail-button {
      background: #f5222d;
      border: 1px solid #f5222d;
    }

    .success-button {
      background: #52c41a;
      border: 1px solid #52c41a;
    }
  }

  .specimen-textArea-box{
    margin: 0 10px;
    width:50%;
  }
}